Repository liftwizard/liftwizard: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: check-json
        # Exclude JSONC files (JSON with Comments) as they need comment support
        exclude: "biome\\.jsonc"
      - id: check-toml
      - id: check-xml
      - id: end-of-file-fixer
        exclude: ^\.idea/
      - id: trailing-whitespace
        exclude: ^\.idea/
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: ["--fix=lf"]

  - repo: local
    hooks:
      - id: biome
        name: biome
        entry: npx @biomejs/biome format --write
        language: system
        types: [file]
        files: \.(json|jsonc)$

      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: system
        types_or: [yaml, markdown, html]

Fix mismatched JUnit versions in liftwizard-dependencies BOM.
  liftwizard-maven-build/liftwizard-dependencies/pom.xml
Due: none

Improve just release recipe to trigger GitHub Actions release workflow.
  .just/maven.just
Due: none

Fix OpenRewrite recipe ECImplFactoryToApiFactory breaking utility methods like Sets.union().
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/ECImplFactoryToApiFactory.java
  liftwizard-utility/liftwizard-rewrite/src/main/resources/META-INF/rewrite/eclipse-collections-best-practices.yml
  liftwizard-utility/liftwizard-rewrite/src/main/resources/META-INF/rewrite/eclipse-collections-impl-factory-to-api-factory.yml
  liftwizard-utility/liftwizard-rewrite/src/test/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/ECImplFactoryToApiFactoryTest.java
Due: prettier

Add AddDependency for Eclipse Collections to recipe YAML files.
  liftwizard-utility/liftwizard-rewrite/src/main/resources/META-INF/rewrite/eclipse-collections-adoption-unsafe.yml
  liftwizard-utility/liftwizard-rewrite/src/main/resources/META-INF/rewrite/eclipse-collections-adoption.yml
  liftwizard-utility/liftwizard-rewrite/src/main/resources/META-INF/rewrite/eclipse-collections-best-practices.yml
Due: prettier

Add trailing newline support for root-level JSON arrays.
  liftwizard-jackson/liftwizard-jackson-pretty-printer/src/main/java/io/liftwizard/serialization/jackson/pretty/JsonPrettyPrinter.java
  liftwizard-jackson/liftwizard-jackson-pretty-printer/src/test/java/io/liftwizard/serialization/jackson/pretty/JsonPrettyPrinterTest.java
Due: none

Fix trailing whitespace in test resource files.
  liftwizard-reladomo/liftwizard-reladomo-test-resource-writer/src/main/java/io/liftwizard/reladomo/test/resource/writer/ReladomoTestResourceGrid.java
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/ECImplFactoryToApiFactory.java
Due: none

Add JUnit parameterized test module and revert incompatible JUnit version upgrades.
  liftwizard-maven-build/liftwizard-dependencies/pom.xml
  liftwizard-test/liftwizard-junit-parameterized-test/pom.xml
  liftwizard-test/liftwizard-junit-parameterized-test/src/test/java/io/liftwizard/junit/parameterized/JUnitVersionCompatibilityTest.java
  liftwizard-test/pom.xml
Due: none

Improve OpenRewrite documentation with a getting started guide and separate recipe reference.
  liftwizard-utility/liftwizard-rewrite/README.md
  liftwizard-utility/liftwizard-rewrite/RECIPES.md
Due: prettier

Disable ErrorProne OperatorPrecedence rule.
  liftwizard-maven-build/liftwizard-profile-parent/pom.xml
Due: none

Delete Reladomo log files after code generation. Reladomo's code generator creates log files with random names that end up in source JARs, causing non-reproducible builds.
  liftwizard-generator-plugins/liftwizard-generator-reladomo-code-plugin/src/main/java/io/liftwizard/generator/reladomo/code/plugin/GenerateReladomoCodeMojo.java
  liftwizard-generator-plugins/liftwizard-generator-reladomo-database-plugin/src/main/java/io/liftwizard/generator/reladomo/database/plugin/GenerateReladomoDatabaseMojo.java
Due: none

Change Biome indentation from 2 spaces to 4-space tabs.
  .github/errorprone.json
  .markdownlint.jsonc
  biome.jsonc
  docs/src/main/znai/extensions.json
  docs/src/main/znai/meta.json
  docs/src/main/znai/reladomo/flexible-syntax.json
  docs/src/main/znai/temporal-data/as-of-queries-1-getBlueprintAsOf.json
  docs/src/main/znai/temporal-data/non-destructive-updates2.json
  docs/src/main/znai/temporal-data/non-destructive-updates4.json
  docs/src/main/znai/temporal-data/versioning-2.json
Due: biome

Fix deprecated mise [alias] to [tool_alias].
  .mise/config.toml
Due: none

Simplify auto-fix commit messages in pull-request workflow.
  .github/workflows/pull-request.yml
Due: prettier

Bump just from 1.40.0 to 1.44.1 to 1.45.0.
  .mise/config.toml
Due: none

Bump node from 24.4.1 to 24.12.0.
  .mise/config.toml
Due: none

Bump maven from 3.9.11 to 3.9.12.
  .mise/config.toml
Due: none
