Repository liftwizard/liftwizard: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: check-json
        # Exclude JSONC files (JSON with Comments) as they need comment support
        exclude: "biome\\.jsonc"
      - id: check-toml
      - id: check-xml
      - id: end-of-file-fixer
        exclude: ^\.idea/
      - id: trailing-whitespace
        exclude: ^\.idea/
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: ["--fix=lf"]

  - repo: local
    hooks:
      - id: biome
        name: biome
        entry: npx @biomejs/biome format --write
        language: system
        types: [file]
        files: \.(json|jsonc)$

      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: system
        types_or: [yaml, markdown, html]

Bump maven from 3.9.11 to 3.9.12.
  .mise/config.toml
Due: none

Fix deprecated mise [alias] to [tool_alias].
  .mise/config.toml
Due: none

Disable MD010/no-hard-tabs markdownlint rule.
  .markdownlint.jsonc
Due: biome

Fix prettier formatting in GitHub Actions workflow files.
  .github/workflows/deploy-library.yml
  .github/workflows/docs.yml
  .github/workflows/merge-group.yml
  .github/workflows/openrewrite-one-off.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
Due: prettier

Fix trailing whitespace in test resource files.
  liftwizard-reladomo/liftwizard-reladomo-test-resource-writer/src/main/java/io/liftwizard/reladomo/test/resource/writer/ReladomoTestResourceGrid.java
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/ECImplFactoryToApiFactory.java
Due: none

Add JUnit parameterized test module and revert incompatible JUnit version upgrades.
  liftwizard-maven-build/liftwizard-dependencies/pom.xml
  liftwizard-test/liftwizard-junit-parameterized-test/pom.xml
  liftwizard-test/liftwizard-junit-parameterized-test/src/test/java/io/liftwizard/junit/parameterized/JUnitVersionCompatibilityTest.java
  liftwizard-test/pom.xml
Due: none

Change Biome indentation from 2 spaces to 4-space tabs.
  .github/errorprone.json
  .markdownlint.jsonc
  biome.jsonc
  docs/src/main/znai/extensions.json
  docs/src/main/znai/meta.json
  docs/src/main/znai/reladomo/flexible-syntax.json
  docs/src/main/znai/temporal-data/as-of-queries-1-getBlueprintAsOf.json
  docs/src/main/znai/temporal-data/non-destructive-updates2.json
  docs/src/main/znai/temporal-data/non-destructive-updates4.json
  docs/src/main/znai/temporal-data/versioning-2.json
Due: biome

Improve OpenRewrite documentation with a getting started guide and separate recipe reference.
  liftwizard-utility/liftwizard-rewrite/README.md
  liftwizard-utility/liftwizard-rewrite/RECIPES.md
Due: prettier

Delete Reladomo log files after code generation. Reladomo's code generator creates log files with random names that end up in source JARs, causing non-reproducible builds.
  liftwizard-generator-plugins/liftwizard-generator-reladomo-code-plugin/src/main/java/io/liftwizard/generator/reladomo/code/plugin/GenerateReladomoCodeMojo.java
  liftwizard-generator-plugins/liftwizard-generator-reladomo-database-plugin/src/main/java/io/liftwizard/generator/reladomo/database/plugin/GenerateReladomoDatabaseMojo.java
Due: none

Bump just from 1.40.0 to 1.44.1 to 1.45.0.
  .mise/config.toml
Due: none

Simplify auto-fix commit messages in pull-request workflow.
  .github/workflows/pull-request.yml
Due: prettier

Bump node from 24.4.1 to 24.12.0.
  .mise/config.toml
Due: none

Disable ErrorProne OperatorPrecedence rule.
  liftwizard-maven-build/liftwizard-profile-parent/pom.xml
Due: none

Update liftwizard.version in README from 2.1.37 to 2.1.38.
  liftwizard-utility/liftwizard-rewrite/README.md
Due: prettier

Move GenericWhitespace check from formatting to strict formatting config.
  liftwizard-utility/liftwizard-checkstyle/src/main/resources/checkstyle-configuration-liftwizard-formatting-strict.xml
  liftwizard-utility/liftwizard-checkstyle/src/main/resources/checkstyle-configuration-liftwizard-formatting.xml
Due: none

Use tab indentation in JsonPrettyPrinter instead of 2-space default.
  liftwizard-jackson/liftwizard-jackson-pretty-printer/src/main/java/io/liftwizard/serialization/jackson/pretty/JsonPrettyPrinter.java
  liftwizard-jackson/liftwizard-jackson-pretty-printer/src/test/java/io/liftwizard/serialization/jackson/pretty/JsonPrettyPrinterTest.java
Due: none

Bump mvnd from 1.0.2 to 1.0.3.
  .mise/config.toml
Due: none

Disable bracket spacing in JsonPrettyPrinter to match biome.
  liftwizard-jackson/liftwizard-jackson-pretty-printer/src/main/java/io/liftwizard/serialization/jackson/pretty/JsonPrettyPrinter.java
Due: none

Update mise Java to Temurin 17.0.17+10 from Oracle 17.0.10.
  .mise/config.toml
Due: none

Apply Spotless Prettier Java with Sorted Imports auto-formatting.
  liftwizard-jackson/liftwizard-jackson-pretty-printer/src/main/java/io/liftwizard/serialization/jackson/pretty/JsonPrettyPrinter.java
Due: none

Read FIREBASE_CONFIG from environment variable instead of config substitution.
  liftwizard-auth/liftwizard-config-auth-filter-firebase/pom.xml
  liftwizard-auth/liftwizard-config-auth-filter-firebase/src/main/java/io/liftwizard/dropwizard/configuration/auth/filter/firebase/FirebaseAuthFilterFactory.java
  liftwizard-auth/liftwizard-config-auth-filter-firebase/src/test/java/io/liftwizard/dropwizard/configuration/auth/filter/firebase/FirebaseAuthFilterFactoryTest.java
  liftwizard-auth/liftwizard-config-auth-filter-firebase/src/test/resources/config-test.json5
Due: none
