Repository liftwizard/liftwizard: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, prettier

biome:
  name: biome
  entry: npx biome format --write
  language: system

prettier:
  name: prettier
  entry: npx prettier --write
  language: system
  require_serial: true

Move dependency exclusions to BOM without version constraints.
  liftwizard-maven-build/liftwizard-bom/pom.xml
Due: none

Add RemoveEmptyJavaDocParameters recipe to static analysis configuration.
  liftwizard-utility/liftwizard-rewrite/src/main/resources/META-INF/rewrite/common-static-analysis.yml
Due: prettier

Add ExplicitThis OpenRewrite recipe and move UpgradeToJava17 to regular profile.
  liftwizard-maven-build/liftwizard-profile-parent/pom.xml
  liftwizard-utility/liftwizard-rewrite/pom.xml
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/java/style/ExplicitThis.java
  liftwizard-utility/liftwizard-rewrite/src/main/resources/META-INF/rewrite/java-style.yml
  liftwizard-utility/liftwizard-rewrite/src/test/java/io/liftwizard/rewrite/java/style/ExplicitThisTest.java
  liftwizard-utility/liftwizard-rewrite/src/test/resources/logback-test.xml
Due: prettier

Add VerifyAssertContainsToAssertJ recipe to transform Eclipse Collections assertions to AssertJ.
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/VerifyAssertContainsToAssertJ.java
  liftwizard-utility/liftwizard-rewrite/src/main/resources/META-INF/rewrite/eclipse-collections-best-practices.yml
  liftwizard-utility/liftwizard-rewrite/src/test/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/VerifyAssertContainsToAssertJTest.java
Due: prettier

Add VerifyAssertNotContainsToAssertJ recipe to transform Eclipse Collections Verify.assertNotContains() to AssertJ assertThat().doesNotContain().
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/VerifyAssertEmptyToAssertJ.java
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/VerifyAssertNotContainsToAssertJ.java
  liftwizard-utility/liftwizard-rewrite/src/main/resources/META-INF/rewrite/eclipse-collections-best-practices.yml
  liftwizard-utility/liftwizard-rewrite/src/test/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/VerifyAssertNotContainsToAssertJTest.java
Due: prettier

Add VerifyAssertEmptyToAssertJ recipe to transform Eclipse Collections Verify.assertEmpty() to AssertJ assertions.
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/VerifyAssertEmptyToAssertJ.java
  liftwizard-utility/liftwizard-rewrite/src/main/resources/META-INF/rewrite/eclipse-collections-best-practices.yml
  liftwizard-utility/liftwizard-rewrite/src/test/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/VerifyAssertEmptyToAssertJTest.java
Due: prettier

Add OpenRewrite recipe for Verify.assertThrows to AssertJ migration.
  README.md
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/VerifyAssertThrowsToAssertJ.java
  liftwizard-utility/liftwizard-rewrite/src/main/resources/META-INF/rewrite/java-style.yml
  liftwizard-utility/liftwizard-rewrite/src/test/java/io/liftwizard/rewrite/eclipse/collections/VerifyAssertThrowsToAssertJSimpleTest.java
  liftwizard-utility/liftwizard-rewrite/src/test/java/io/liftwizard/rewrite/eclipse/collections/VerifyAssertThrowsToAssertJTest.java
Due: prettier

Implement OpenRewrite recipe for migrating Verify.assertNotEmpty to AssertJ.
  liftwizard-utility/liftwizard-rewrite/pom.xml
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/VerifyAssertNotEmptyToAssertJ.java
  liftwizard-utility/liftwizard-rewrite/src/test/java/io/liftwizard/rewrite/eclipse/collections/VerifyAssertNotEmptyToAssertJSimpleTest.java
  liftwizard-utility/liftwizard-rewrite/src/test/java/io/liftwizard/rewrite/eclipse/collections/VerifyAssertNotEmptyToAssertJTest.java
Due: none

Add OpenRewrite recipe to replace ArrayIterate.asList with Lists.mutable.with.
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/ArrayIterateAsListToListsMutableWith.java
  liftwizard-utility/liftwizard-rewrite/src/test/java/io/liftwizard/rewrite/eclipse/collections/ArrayIterateAsListToListsMutableWithTest.java
Due: none

Add OpenRewrite recipe for array assertSize transformation.
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/VerifyArrayAssertSizeToAssertJ.java
  liftwizard-utility/liftwizard-rewrite/src/test/java/io/liftwizard/rewrite/eclipse/collections/VerifyArrayAssertSizeToAssertJTest.java
Due: none

Add VerifyAssertContainsAllToAssertJ recipe to transform Eclipse Collections Verify.assertContainsAll() to AssertJ assertions.
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/VerifyAssertContainsAllToAssertJ.java
  liftwizard-utility/liftwizard-rewrite/src/main/resources/META-INF/rewrite/eclipse-collections-best-practices.yml
  liftwizard-utility/liftwizard-rewrite/src/test/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/VerifyAssertContainsAllToAssertJTest.java
Due: prettier

Add UseIterateIsEmpty recipe to replace !someIterable.isEmpty() with Iterate.isEmpty(someIterable).
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/UseIterateIsEmpty.java
  liftwizard-utility/liftwizard-rewrite/src/main/resources/META-INF/rewrite/java-style.yml
  liftwizard-utility/liftwizard-rewrite/src/test/java/io/liftwizard/rewrite/eclipse/collections/UseIterateIsEmptyTest.java
Due: prettier

Add VerifyAssertSizeToAssertJ recipe to transform Eclipse Collections Verify.assertSize() to AssertJ assertions.
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/VerifyAssertSizeToAssertJ.java
  liftwizard-utility/liftwizard-rewrite/src/main/resources/META-INF/rewrite/eclipse-collections-best-practices.yml
  liftwizard-utility/liftwizard-rewrite/src/test/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/VerifyAssertSizeToAssertJTest.java
Due: prettier

Add VerifyAssertNotNullToAssertJ recipe to transform Eclipse Collections Verify.assertNotNull() to AssertJ assertions.
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/VerifyAssertNotNullToAssertJ.java
  liftwizard-utility/liftwizard-rewrite/src/main/resources/META-INF/rewrite/eclipse-collections-best-practices.yml
  liftwizard-utility/liftwizard-rewrite/src/test/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/VerifyAssertNotNullToAssertJTest.java
Due: prettier

Add VerifyAssertItemAtIndexToAssertJ recipe to transform Eclipse Collections Verify.assertItemAtIndex() to AssertJ assertions.
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/VerifyAssertItemAtIndexToAssertJ.java
  liftwizard-utility/liftwizard-rewrite/src/main/resources/META-INF/rewrite/eclipse-collections-best-practices.yml
  liftwizard-utility/liftwizard-rewrite/src/test/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/VerifyAssertItemAtIndexToAssertJTest.java
Due: prettier

Add VerifyAssertInstanceOfToAssertJ recipe to transform Eclipse Collections Verify.assertInstanceOf() to AssertJ assertions.
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/VerifyAssertInstanceOfToAssertJ.java
  liftwizard-utility/liftwizard-rewrite/src/main/resources/META-INF/rewrite/eclipse-collections-best-practices.yml
  liftwizard-utility/liftwizard-rewrite/src/test/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/VerifyAssertInstanceOfToAssertJTest.java
Due: prettier

Add VerifyAssertCountToAssertJ OpenRewrite recipe.
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/VerifyAssertCountToAssertJ.java
  liftwizard-utility/liftwizard-rewrite/src/main/resources/META-INF/rewrite/java-style.yml
  liftwizard-utility/liftwizard-rewrite/src/test/java/io/liftwizard/rewrite/eclipse/collections/VerifyAssertCountToAssertJTest.java
Due: prettier

Add ArrayIterate inspection patterns for notEmpty() and isEmpty().
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/ArrayIterateToEmpty.java
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/ArrayIterateToNotEmpty.java
  liftwizard-utility/liftwizard-rewrite/src/test/java/io/liftwizard/rewrite/eclipse/collections/ArrayIterateToEmptyTest.java
  liftwizard-utility/liftwizard-rewrite/src/test/java/io/liftwizard/rewrite/eclipse/collections/ArrayIterateToNotEmptyTest.java
Due: none

Add VerifyAssertNotEqualsToAssertJ recipe to transform Eclipse Collections Verify.assertNotEquals() to AssertJ assertions.
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/VerifyAssertNotEqualsToAssertJ.java
  liftwizard-utility/liftwizard-rewrite/src/main/resources/META-INF/rewrite/eclipse-collections-best-practices.yml
  liftwizard-utility/liftwizard-rewrite/src/test/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/VerifyAssertNotEqualsToAssertJTest.java
Due: prettier

Update maven-dependency-plugin to use ignoreUnusedRuntime configuration.
  liftwizard-maven-build/liftwizard-profile-parent/pom.xml
Due: none

Upgrade maven and node versions.
  .mise/config.toml
Due: none

Add ExplicitThis OpenRewrite recipe and move UpgradeToJava17 to regular profile.
  liftwizard-maven-build/liftwizard-profile-parent/pom.xml
  liftwizard-utility/liftwizard-rewrite/pom.xml
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/java/style/ExplicitThis.java
  liftwizard-utility/liftwizard-rewrite/src/test/java/io/liftwizard/rewrite/java/style/ExplicitThisTest.java
  liftwizard-utility/liftwizard-rewrite/src/test/resources/logback-test.xml
Due: none

Add prettier configuration.
  .prettierrc.json5
Due: biome

Fix SpotBugs exclude pattern to use Class instead of Source.
  spotbugs-exclude.xml
Due: none

Migrate mise configuration to .mise/config.toml and add mvnd tool.
  .mise/config.toml
  mise.toml
Due: none

Update .gitignore with Java, Maven, IntelliJ, and VSCode patterns.
  .gitignore
Due: none

Add ExplicitThis OpenRewrite recipe.
  liftwizard-maven-build/liftwizard-profile-parent/pom.xml
  liftwizard-utility/liftwizard-rewrite/pom.xml
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/java/style/ExplicitThis.java
  liftwizard-utility/liftwizard-rewrite/src/test/java/io/liftwizard/rewrite/java/style/ExplicitThisTest.java
  liftwizard-utility/liftwizard-rewrite/src/test/resources/logback-test.xml
Due: none

Auto-fix: Apply OpenRewrite recipe changes
  liftwizard-example/src/main/java/com/example/helloworld/api/Saying.java
  liftwizard-logging/liftwizard-logging-exception-mapper/src/main/java/io/liftwizard/logging/exception/mapper/LiftwizardExceptionMapperBinder.java
  liftwizard-logging/liftwizard-logging-exception-mapper/src/main/java/io/liftwizard/logging/exception/mapper/LiftwizardLoggingExceptionMapper.java
  liftwizard-utility/liftwizard-rewrite/src/test/java/io/liftwizard/rewrite/eclipse/collections/SimplifyNegatedEmptyChecksTest.java
  liftwizard-utility/liftwizard-temp-files/src/main/java/io/liftwizard/tempdir/ManagedTempDirectory.java
Due: none

Migrate JSON/JSONC formatting from Spotless to Biome.
  .github/workflows/merge-group.yml
  .github/workflows/pull-request.yml
  .markdownlint.jsonc
  .pre-commit-config.yaml
  biome.jsonc
  liftwizard-maven-build/liftwizard-profile-parent/pom.xml
Due: prettier

Apply OpenRewrite ExplicitThis recipe.
  liftwizard-example/src/main/java/com/example/helloworld/api/Saying.java
  liftwizard-logging/liftwizard-logging-exception-mapper/src/main/java/io/liftwizard/logging/exception/mapper/LiftwizardExceptionMapperBinder.java
  liftwizard-logging/liftwizard-logging-exception-mapper/src/main/java/io/liftwizard/logging/exception/mapper/LiftwizardLoggingExceptionMapper.java
  liftwizard-utility/liftwizard-rewrite/src/test/java/io/liftwizard/rewrite/eclipse/collections/SimplifyNegatedEmptyChecksTest.java
  liftwizard-utility/liftwizard-temp-files/src/main/java/io/liftwizard/tempdir/ManagedTempDirectory.java
Due: none

Remove spotless-yaml formatting in favor of prettier.
  .github/workflows/merge-group.yml
  .github/workflows/pull-request.yml
  .just/maven.just
  .prettierignore
Due: prettier

Auto-fix: Apply Prettier formatting
  .markdownlint.jsonc
  biome.jsonc
  docs/index.html
  docs/src/main/znai/tracking.html
  liftwizard-bundle/liftwizard-bundle-graphql/src/main/resources/graphiql/index.htm
  liftwizard-example/example.json5
  liftwizard-example/src/main/resources/assets/pure-min.css
  liftwizard-example/src/test/resources/test-example.json5
  liftwizard-logging/liftwizard-config-logging-filter-requesturl/README.md
Due: biome, prettier

Remove spotless-yaml formatting in favor of prettier.
  .github/workflows/merge-group.yml
  .github/workflows/pull-request.yml
  .just/maven.just
  .markdownlint.jsonc
  .pre-commit-config.yaml
  .prettierignore
  biome.jsonc
  docs/index.html
  docs/src/main/znai/tracking.html
  liftwizard-bundle/liftwizard-bundle-graphql/src/main/resources/graphiql/index.htm
  liftwizard-example/example.json5
  liftwizard-example/src/main/resources/assets/pure-min.css
  liftwizard-example/src/test/resources/test-example.json5
  liftwizard-logging/liftwizard-config-logging-filter-requesturl/README.md
Due: biome, prettier

Auto-fix: Apply Biome formatting
  .github/errorprone.json
  docs/src/main/znai/extensions.json
  docs/src/main/znai/meta.json
  docs/src/main/znai/reladomo/flexible-syntax.json
  docs/src/main/znai/temporal-data/as-of-queries-1-getBlueprintAsOf.json
  docs/src/main/znai/temporal-data/non-destructive-updates2.json
  docs/src/main/znai/temporal-data/non-destructive-updates4.json
  docs/src/main/znai/temporal-data/versioning-2.json
Due: biome

Path conditions:
  biome: any of: \.(js|jsx|ts|tsx|mjs|cjs|json|json5)$, but not: package(-lock)?\.json
  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(html|htm|xhtml)$, but not: (^\.idea/)
