Repository liftwizard/liftwizard: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: check-json
        # Exclude JSONC files (JSON with Comments) as they need comment support
        exclude: "biome\\.jsonc"
      - id: check-toml
      - id: check-xml
      - id: end-of-file-fixer
        exclude: ^\.idea/
      - id: trailing-whitespace
        exclude: ^\.idea/
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: ["--fix=lf"]

  - repo: local
    hooks:
      - id: biome
        name: biome
        entry: npx @biomejs/biome format --write
        language: system
        types: [file]
        files: \.(json|jsonc)$

      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: system
        types_or: [yaml, markdown, html]

Comment out jackson-module-jaxb-annotations ban in Maven enforcer plugin.
  liftwizard-maven-build/liftwizard-profile-parent/pom.xml
Due: none

Apply OpenRewrite recipe changes for Eclipse Collections adoption and best practices.
  liftwizard-config/liftwizard-config-data-source/pom.xml
  liftwizard-config/liftwizard-config-data-source/src/main/java/io/liftwizard/dropwizard/configuration/datasource/NamedDataSourcesFactory.java
  liftwizard-config/liftwizard-config-liquibase-migration/pom.xml
  liftwizard-config/liftwizard-config-liquibase-migration/src/main/java/io/liftwizard/dropwizard/configuration/liquibase/migration/LiquibaseMigrationFactory.java
  liftwizard-example/src/main/java/com/example/helloworld/HelloWorldConfiguration.java
  liftwizard-example/src/test/java/com/example/helloworld/resources/PeopleResourceTest.java
  liftwizard-example/src/test/java/com/example/helloworld/resources/PersonResourceTest.java
  liftwizard-generator-plugins/liftwizard-generator-xsd2bean-plugin/src/main/java/io/liftwizard/generator/xsd2bean/plugin/GenerateXSD2BeanMojo.java
  liftwizard-jackson/liftwizard-jackson-pretty-printer/src/test/java/io/liftwizard/serialization/jackson/pretty/JsonPrettyPrinterTest.java
  liftwizard-logging/liftwizard-config-logging-filter-requesturl/pom.xml
  liftwizard-logging/liftwizard-config-logging-filter-requesturl/src/main/java/io/liftwizard/dropwizard/configuration/logging/filter/url/RequestUrlFilterFactory.java
  liftwizard-logging/liftwizard-metrics-reporter-log4j/pom.xml
  liftwizard-logging/liftwizard-metrics-reporter-log4j/src/main/java/io/liftwizard/logging/metrics/structured/log4j/Builder.java
  liftwizard-logging/liftwizard-metrics-reporter-slf4j/pom.xml
  liftwizard-logging/liftwizard-metrics-reporter-slf4j/src/main/java/io/liftwizard/logging/metrics/structured/Builder.java
  liftwizard-reladomo/liftwizard-connection-manager-holder/src/main/java/io/liftwizard/reladomo/connection/manager/holder/ConnectionManagerHolder.java
  liftwizard-reladomo/liftwizard-reladomo-graphql-operation/src/main/java/io/liftwizard/reladomo/graphql/operation/GraphQLQueryToOperationConverter.java
  liftwizard-reladomo/liftwizard-reladomo-operation-compiler/src/main/java/io/liftwizard/model/reladomo/operation/compiler/operator/binary/many/BooleanListBinaryOperatorVisitor.java
  liftwizard-reladomo/liftwizard-reladomo-operation-compiler/src/main/java/io/liftwizard/model/reladomo/operation/compiler/operator/binary/many/DoubleListBinaryOperatorVisitor.java
  liftwizard-reladomo/liftwizard-reladomo-operation-compiler/src/main/java/io/liftwizard/model/reladomo/operation/compiler/operator/binary/many/FloatListBinaryOperatorVisitor.java
  liftwizard-reladomo/liftwizard-reladomo-operation-compiler/src/main/java/io/liftwizard/model/reladomo/operation/compiler/operator/binary/many/IntegerListBinaryOperatorVisitor.java
  liftwizard-reladomo/liftwizard-reladomo-operation-compiler/src/main/java/io/liftwizard/model/reladomo/operation/compiler/operator/binary/many/LongListBinaryOperatorVisitor.java
  liftwizard-reladomo/liftwizard-reladomo-test-extension/src/main/java/io/liftwizard/reladomo/test/extension/ReladomoLoadDataExtension.java
  liftwizard-reladomo/liftwizard-reladomo-test-extension/src/main/java/io/liftwizard/reladomo/test/extension/ReladomoPurgeAllExtension.java
  liftwizard-reladomo/liftwizard-reladomo-test-resource-writer/src/main/java/io/liftwizard/reladomo/test/resource/writer/ReladomoTestResourceColumn.java
  liftwizard-reladomo/liftwizard-reladomo-test-rule/src/main/java/io/liftwizard/reladomo/test/rule/ReladomoLoadDataTestRule.java
  liftwizard-reladomo/liftwizard-reladomo-test-rule/src/main/java/io/liftwizard/reladomo/test/rule/ReladomoPurgeAllTestRule.java
  liftwizard-servlet/liftwizard-servlet-logging/src/main/java/io/liftwizard/servlet/logging/filter/ServerLoggingFilter.java
  liftwizard-utility/liftwizard-healthcheck-common-pool/src/main/java/io/liftwizard/dropwizard/healthcheck/commonpool/CommonPoolHealthCheck.java
Due: none

Auto-fix: Apply OpenRewrite recipe changes
  liftwizard-config/liftwizard-config-liquibase-migration/src/main/java/io/liftwizard/dropwizard/configuration/liquibase/migration/LiquibaseMigrationFactory.java
  liftwizard-logging/liftwizard-metrics-reporter-log4j/src/main/java/io/liftwizard/logging/metrics/structured/log4j/Builder.java
  liftwizard-logging/liftwizard-metrics-reporter-slf4j/src/main/java/io/liftwizard/logging/metrics/structured/Builder.java
Due: none

Apply OpenRewrite recipe changes for Eclipse Collections adoption and best practices.
  liftwizard-config/liftwizard-config-liquibase-migration/src/main/java/io/liftwizard/dropwizard/configuration/liquibase/migration/LiquibaseMigrationFactory.java
  liftwizard-logging/liftwizard-metrics-reporter-log4j/src/main/java/io/liftwizard/logging/metrics/structured/log4j/Builder.java
  liftwizard-logging/liftwizard-metrics-reporter-slf4j/src/main/java/io/liftwizard/logging/metrics/structured/Builder.java
Due: none

Add JavaRecipeBestPractices recipe to OpenRewrite default profile.
  liftwizard-maven-build/liftwizard-profile-parent/pom.xml
Due: none

Fix ExplicitThis to handle non-class contexts.
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/java/style/ExplicitThis.java
Due: none

Update Prettier configuration to use 4-space indentation and single quotes.
  .prettierrc.json5
Due: none

Document ManagedTempDirectory in file-system section.
  docs/src/main/znai/file-system/managed-temp-directory.md
  docs/src/main/znai/toc
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/java/style/ExplicitThis.java
Due: prettier

Clarify ManagedTempDirectory shutdown hook behavior.
  docs/src/main/znai/file-system/managed-temp-directory.md
Due: prettier

Add repository parameter for fork PR checkout
  .github/workflows/pull-request.yml
Due: prettier

Upgrade OpenRewrite dependencies to latest versions.
  liftwizard-maven-build/liftwizard-minimal-parent/pom.xml
Due: none

Format with prettier-java.
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/java/style/ExplicitThis.java
Due: none

Fix znai documentation links for znai 1.83 compatibility.
  docs/src/main/znai/maven/minimal-parent.md
  docs/src/main/znai/maven/profile-parent.md
  docs/src/main/znai/testing/matching-json.md
  docs/src/main/znai/toc
Due: prettier

Add experimentalOperatorPosition: start to prettier-java config.
  .prettierrc.json5
  liftwizard-maven-build/liftwizard-profile-parent/pom.xml
  liftwizard-reladomo/liftwizard-reladomo-operation-compiler/src/main/java/io/liftwizard/model/reladomo/operation/compiler/ReladomoAttributeVisitor.java
  liftwizard-reladomo/liftwizard-reladomo-operation-compiler/src/main/java/io/liftwizard/model/reladomo/operation/compiler/ReladomoOperationBuilderVisitor.java
  liftwizard-reladomo/liftwizard-reladomo-test-extension/src/main/java/io/liftwizard/reladomo/test/extension/ReladomoLoadDataExtension.java
  liftwizard-reladomo/liftwizard-reladomo-test-rule/src/main/java/io/liftwizard/reladomo/test/rule/ReladomoLoadDataTestRule.java
  liftwizard-servlet/liftwizard-servlet-logging/src/main/java/io/liftwizard/servlet/logging/filter/ServerLoggingFilter.java
  liftwizard-servlet/liftwizard-servlet-single-page-redirect-filter/src/main/java/io/liftwizard/servlet/filter/singlepage/SinglePageRedirectFilter.java
  liftwizard-utility/liftwizard-healthcheck-common-pool/src/main/java/io/liftwizard/dropwizard/healthcheck/commonpool/CommonPoolHealthCheck.java
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/adoption/AbstractJCFConstructorToFactoryRecipe.java
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/adoption/IterateGetFirst.java
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/adoption/unsafe/ECDetectToSatisfies.java
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/AbstractECConstructorToFactoryRecipe.java
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/ArrayIterateEmpty.java
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/ECArraysAsListToWith.java
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/ECCountToSatisfies.java
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/ECDetectOptionalToSatisfies.java
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/ECSimplifyNegatedIterateSatisfies.java
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/IterateEmpty.java
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/MapIterateEmpty.java
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/java/style/ExplicitThis.java
Due: none

Add configure-github.sh script for GitHub repo settings.
  scripts/configure-github.sh
Due: none

Add UnnecessaryExplicitTypeArguments to one-off OpenRewrite profile.
  liftwizard-maven-build/liftwizard-profile-parent/pom.xml
Due: none

Fix `all-checks` GHA job to fail when dependencies fail.
  .github/workflows/merge-group.yml
Due: prettier

Upgrade biome.jsonc schema from v2.1.2 to v2.3.8.
  biome.jsonc
Due: biome

Rewrite profile-parent docs with Quick Start, GitHub Actions examples, and profile list.
  docs/src/main/znai/maven/profile-parent.md
  liftwizard-maven-build/liftwizard-profile-parent/pom.xml
Due: prettier
