Repository liftwizard/liftwizard: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, prettier

biome:
  name: biome
  entry: npx @biomejs/biome format --write
  language: system

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Auto-fix: Update file match test expectations
  liftwizard-example/example.json5
  liftwizard-example/src/test/resources/test-example.json5
Due: none

Remove spotless-yaml and spotless-json formatting in favor of prettier.
  .github/workflows/merge-group.yml
  .github/workflows/pull-request.yml
  .just/git-test.just
  .just/maven.just
  .markdownlint.jsonc
  .pre-commit-config.yaml
  .prettierignore
  biome.jsonc
  docs/index.html
  docs/src/main/znai/tracking.html
  liftwizard-bundle/liftwizard-bundle-graphql/src/main/resources/graphiql/index.htm
  liftwizard-example/example.json5
  liftwizard-example/src/test/resources/test-example.json5
  liftwizard-logging/liftwizard-config-logging-filter-requesturl/README.md
Due: biome, prettier

Auto-fix: Apply OpenRewrite recipe changes
  liftwizard-generator-plugins/liftwizard-generator-xsd2bean-plugin/src/main/java/io/liftwizard/generator/xsd2bean/plugin/GenerateXSD2BeanMojo.java
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/adoption/JCFListConstructorToFactory.java
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/adoption/JCFSetConstructorToFactory.java
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/adoptionrisks/ECDetectToSatisfies.java
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/ECCollectionAddProcedureToFactory.java
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/ECCollectionRemoveProcedureToFactory.java
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/ECListConstructorToFactory.java
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/ECMapConstructorToFactory.java
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/ECNullSafeEquals.java
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/ECSimplifyNegatedIterateSatisfies.java
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/ECSimplifyNegatedSatisfies.java
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/JCFListToMutableList.java
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/JCFMapToMutableMap.java
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/JCFSetToMutableSet.java
  liftwizard-utility/liftwizard-rewrite/src/test/java/io/liftwizard/rewrite/eclipse/collections/adoption/JCFSetConstructorToFactoryTest.java
  liftwizard-utility/liftwizard-rewrite/src/test/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/ECCollectionAddProcedureToFactoryTest.java
  liftwizard-utility/liftwizard-rewrite/src/test/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/ECCollectionRemoveProcedureToFactoryTest.java
  liftwizard-utility/liftwizard-rewrite/src/test/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/ECNullSafeEqualsTest.java
  liftwizard-utility/liftwizard-rewrite/src/test/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/JCFMapToMutableMapTest.java
Due: none

Update GitHub Actions to latest versions.
  .github/workflows/deploy-library.yml
  .github/workflows/docs.yml
  .github/workflows/merge-group.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
Due: prettier

Update Prettier configuration to use 4-space indentation and single quotes.
  .prettierrc.json5
Due: none

Exclude workflow files from Prettier auto-fix GHA jobs.
  .github/workflows/pull-request.yml
Due: prettier

Apply OpenRewrite Eclipse Collections recipe suite to this project.
  liftwizard-generator-plugins/liftwizard-generator-xsd2bean-plugin/src/main/java/io/liftwizard/generator/xsd2bean/plugin/GenerateXSD2BeanMojo.java
Due: none

Fix dependency:analyze for liftwizard-example.
  liftwizard-example/pom.xml
Due: none

Auto-fix: Apply OpenRewrite recipe changes
  liftwizard-generator-plugins/liftwizard-generator-xsd2bean-plugin/src/main/java/io/liftwizard/generator/xsd2bean/plugin/GenerateXSD2BeanMojo.java
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/adoption/AbstractCollectionsMethodToFactoryRecipe.java
  liftwizard-utility/liftwizard-rewrite/src/main/java/io/liftwizard/rewrite/eclipse/collections/adoption/AbstractJCFConstructorToFactoryRecipe.java
  liftwizard-utility/liftwizard-rewrite/src/test/java/io/liftwizard/rewrite/eclipse/collections/bestpractices/ECTreeSortedMapConstructorToFactoryTest.java
Due: none

Upgrade H2 database to version 2.4.240 and fix USER keyword issue.
  docs/src/main/znai/graphql/instrumentation-logging.md
  liftwizard-bundle/liftwizard-bundle-h2/src/main/java/io/liftwizard/dropwizard/bundle/h2/H2Bundle.java
  liftwizard-bundle/liftwizard-bundle-h2/src/main/resources/.h2.server.properties
  liftwizard-example/example.json5
  liftwizard-example/src/test/resources/test-example.json5
  liftwizard-maven-build/liftwizard-dependencies/pom.xml
  liftwizard-reladomo/liftwizard-connection-manager-h2-memory/src/main/java/io/liftwizard/reladomo/connectionmanager/h2/memory/H2InMemoryConnectionManager.java
Due: prettier

Upgrade OpenRewrite to 8.63.4.
  liftwizard-utility/liftwizard-rewrite/pom.xml
Due: none

Upgrade logstash-logback-encoder to 7.4 and re-enable truncateStackTracesAfterPrefixes.
  liftwizard-logging/liftwizard-config-logging-logstash-encoder/src/main/java/io/liftwizard/dropwizard/configuration/logging/logstash/LogstashEncoderFactory.java
  liftwizard-maven-build/liftwizard-dependencies/pom.xml
Due: none

Auto-fix: Apply Spotless Prettier Java with Sorted Imports
  liftwizard-logging/liftwizard-config-logging-logstash-encoder/src/main/java/io/liftwizard/dropwizard/configuration/logging/logstash/LogstashEncoderFactory.java
Due: none

Add liftwizard-reladomo-utc-infinity-timestamp module.
  liftwizard-reladomo/liftwizard-reladomo-utc-infinity-timestamp/pom.xml
  liftwizard-reladomo/liftwizard-reladomo-utc-infinity-timestamp/src/main/java/io/liftwizard/reladomo/utc/infinity/timestamp/UtcInfinityTimestamp.java
  liftwizard-reladomo/pom.xml
Due: none

Add liftwizard-reladomo-utc-infinity-timestamp module.
  liftwizard-maven-build/liftwizard-bom/pom.xml
  liftwizard-reladomo/liftwizard-reladomo-utc-infinity-timestamp/pom.xml
  liftwizard-reladomo/liftwizard-reladomo-utc-infinity-timestamp/src/main/java/io/liftwizard/reladomo/utc/infinity/timestamp/UtcInfinityTimestamp.java
  liftwizard-reladomo/pom.xml
Due: none

Apply OpenRewrite recipe RemoveTestPrefix.
  liftwizard-logging/liftwizard-logging-uncaught-exception-handler/src/test/java/io/liftwizard/logging/slf4j/uncaught/exception/handler/Slf4jUncaughtExceptionHandlerTest.java
Due: none

Apply OpenRewrite recipe TestsShouldNotBePublic.
  liftwizard-example/src/test/java/com/example/helloworld/resources/PeopleResourceTest.java
  liftwizard-example/src/test/java/com/example/helloworld/resources/PersonResourceTest.java
  liftwizard-test/liftwizard-junit-network-isolation/src/test/java/io/liftwizard/junit/network/isolation/NetworkIsolationTest.java
  liftwizard-utility/liftwizard-managed-file-system/src/test/java/io/liftwizard/filesystem/ManagedFileSystemTest.java
Due: none

Apply OpenRewrite recipe CollapseConsecutiveAssertThatStatements.
  liftwizard-utility/liftwizard-temp-files/src/test/java/io/liftwizard/tempdir/ManagedTempDirectoryTest.java
Due: none

Add OpenRewrite AddLicenseHeader recipe configuration.
  rewrite.yml
Due: prettier

Add OpenRewrite SimplifyChainedAssertJAssertions recipe configuration.
  liftwizard-maven-build/liftwizard-profile-parent/pom.xml
  liftwizard-utility/liftwizard-temp-files/src/test/java/io/liftwizard/tempdir/ManagedTempDirectoryTest.java
Due: none

Upgrade OpenRewrite Maven plugin from 6.3.0 to 6.22.1.
  liftwizard-maven-build/liftwizard-minimal-parent/pom.xml
Due: none

Add OpenRewrite testing best practices to main profile.
  liftwizard-maven-build/liftwizard-profile-parent/pom.xml
Due: none

Sort openrewrite recipes maven profiles.
  liftwizard-maven-build/liftwizard-profile-parent/pom.xml
Due: none

Enable TestContainersBestPractices recipe in one-off profile.
  liftwizard-maven-build/liftwizard-profile-parent/pom.xml
Due: none

Enable maven.BestPractices recipe in one-off profile.
  liftwizard-maven-build/liftwizard-profile-parent/pom.xml
Due: none

Enable PreferTemurinDistributions recipe in one-off profile.
  liftwizard-maven-build/liftwizard-profile-parent/pom.xml
Due: none

Enable MockitoBestPractices recipe in one-off profile.
  liftwizard-maven-build/liftwizard-profile-parent/pom.xml
Due: none

Enable Slf4jBestPractices recipe in one-off profile.
  liftwizard-maven-build/liftwizard-profile-parent/pom.xml
Due: none

Enable LombokBestPractices recipe in one-off profile.
  liftwizard-maven-build/liftwizard-profile-parent/pom.xml
Due: none

Enable CollapseConsecutiveAssertThatStatements recipe in main profile.
  liftwizard-maven-build/liftwizard-profile-parent/pom.xml
Due: none

Add GitHub Actions workflow for one-off OpenRewrite recipes.
  .github/workflows/openrewrite-one-off.yml
Due: prettier

Sync custom OpenRewrite recipes with upstream versions.
  liftwizard-utility/liftwizard-rewrite/src/main/resources/META-INF/rewrite/common-static-analysis.yml
  liftwizard-utility/liftwizard-rewrite/src/main/resources/META-INF/rewrite/static-analysis.yml
Due: prettier

Exclude SimplifyTestThrows from JupiterBestPractices recipe.
  liftwizard-maven-build/liftwizard-profile-parent/pom.xml
  liftwizard-utility/liftwizard-rewrite/src/main/resources/META-INF/rewrite/testing-frameworks.yml
Due: prettier

Path conditions:
  biome: any of: \.(json|jsonc)$
  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
